---
layout: base.njk
pagination:
    data: albums
    size: 1
    alias: album
permalink: "albums/{{ album.name | slug }}/"
---

<img alt="{{ album.name }}" src="{{ album.img }}">

<h1>{{ album.name }} släpptes den {{ album.release | dateFilter }}</h1>